<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/myStyle.css" />
  </head>
  <body>
    <div class="singleOrder">
      <h1>Order: <%= test.name%></h1>
      <h1>Price: <%=test.price%></h1>
      <a class="delete" data-doc="<%= test._id %>" href="/cart">Delete</a>
    </div>

    <script>
      const trash = document.querySelector("a.delete");
      trash.addEventListener("click", () => {
        const endpoint = `/cart/${trash.dataset.doc}`;

        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => console.log(data))
          .catch((err) => {
            console.log(err);
          });
      });
    </script>
  </body>
</html>
